<h2><%= l(:hours_list) %></h2>

<%= form_tag do %>
	<% if User.current.admin? %>
		<%= label_tag(:user, t(:field_user)) %>
		<%= collection_select(:user, :id, User.all.find_all{|u| not u.anonymous?}, :id, :login) %>
	<% end %>

	<%= label_tag(:date, t(:label_month)) %>

	<%= select_month (@month or Date.today.month) %>
	<%= select_year (@year or Date.today.year), :start_year => 2012, :end_year => Date.today.year %>

	<%= submit_tag l(:label_search) %>
<% end %>

<% if not @work_items.empty? %>

<table id="work_time_list">
<tr>
	<% if User.current.admin? %> <th><%= t(:label_user) %></th> <% end %>
	<% if User.current.admin? %> <th>IP</th> <% end %>
	<th>Start</th>
	<th>Koniec</th>

</tr>

<% @work_items.each do |work_time| %>
<tr>
	<% if User.current.admin? %> <td><%= work_time.user.login %></td> <% end %>
	<% if User.current.admin? %> <td><%= work_time.remoteip %></td> <% end %>
	<td><%= format_time(work_time.start) %></td>
	<td><%= format_time(work_time.end) %></td>
</tr>
<% end %>
</table>

<% end %>