<h2><%= l(:hours_list) %></h2>

<% content_for :header_tags do %>
	<%= javascript_include_tag :wtm, :plugin => :wtm %>
<% end %>

<%= form_tag({}, :method => :get) do %>

<fieldset><legend><%= l(:label_filter_plural) %></legend>

<% if User.current.admin? %>
<label for='user_id'><%= l(:field_user) %>:</label>
<%= select_tag 'user_id', users_for_filtering(@user_id), :class => "small"  %>
<% end %>

<%= label_tag('from', l(:label_date_from)) %>
<%= text_field_tag('from', @from, :size => 10) %>
<%= calendar_for('from') %>

<%= label_tag('to', l(:label_date_to)) %>
<%= text_field_tag('to', @to, :size => 10) %>
<%= calendar_for('to') %>

<%= submit_tag l(:button_apply), :class => "small", :name => nil %>
<%= link_to l(:button_clear), "/wtm", :class => 'icon icon-reload' %>
</fieldset>

<% end %>

&nbsp;

<table class="list">
    <thead>
      <tr>
        <% if User.current.admin? %><%= sort_header_tag('user_id', :caption => l(:label_user)) %><% end %>
        <% if User.current.admin? %><%= sort_header_tag('remoteip', :caption => l(:label_ip)) %><% end %>
        <%= sort_header_tag('start', :caption => l(:label_start)) %>
        <%= sort_header_tag('end', :caption => l(:label_end)) %>
        <% previous_group = false %>
      </tr>
    </thead>

    <tbody>
      <% @work_items.each do |work_time| %>
      	<tr>
      		<% if User.current.admin? %> <td><%= work_time.user.login %></td> <% end %>
      		<% if User.current.admin? %> <td><%= work_time.remoteip %></td> <% end %>
      		<td><%= format_time(work_time.start) %></td>
      		<td><%= format_time(work_time.end) %></td>
      	</tr>
      <% end %>
    </tbody>
</table>
